nav {
    border-bottom: 2px groove grey;
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1rem 1.5rem;
        li {
            font-size: 22px;
            list-style-type: none;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            a {
                text-decoration: none;
                color: black;
                font-weight: 400;
            }
        }
    }
}
